@media (min-width: 72rem) {
    .container:where(.astro-7NKWCW3Z) {
        margin-inline: 0px;
    }
}

[data-has-sidebar] .main-pane {
    --sl-content-margin-inline: auto 0;
    order:1;
    width:100%;
}

.sl-container {
    max-width: 100%;
}

.content:where(.astro-ml6ntd6l) :is(iframe):not(:where(.not-content *)){
    display:block;
    max-width:100%;
    height:450px;
}
